.ui-page {
	height: 100%;
	overflow-y:hidden;
}

html {
	padding: 0;
	margin: 0;
	border: none;
	font-family: Verdana, Helvetica, Arial;
	height: 100%;
	overflow-y: hidden;
}

body {
	margin: 0;
	overflow-y: hidden;
	background-image: linear-gradient(180deg, #FFFFFF 0%, #BAF1FF 100%);
	height: 100%;
}

footer {
	position: relative;
	height: 20%;
	background-color: #282828;
	background-image: linear-gradient(0deg, #000000 0%, #454545 100%);
	overflow: hidden;
	border-top: 1px solid black;
}

#content{
	height: 78%;
	overflow: hidden;
}

#queue {
	overflow: visible;
	height: 100%;
}

#logo {
	position: absolute;
	margin-left: 40%;
	top: 15%;
	height: 60%;
	width: 20%;
}

.colorbar {
	position: relative;
	height: 3%;
	width: 100%;
	background: #FFFFFF;
	min-height: 20px;
	background-image: linear-gradient(180deg, #FFFFFF 0%, #B3BCBC 100%);
	border-bottom: 1px solid #979D9D; 
}
#username {
	position: absolute;
	text-align: left;
	margin-top: 0;
	padding-top: .5%;
	font-size: 10pt;
	color: black;
}

#share {
	position: absolute;
	text-align: right;
	margin: 0;
	width: 100%;
	font-size: 10pt;
	/*adjust share work l or r*/
	padding-top: .5%;
	color: black;
	z-index: 5;
}

#shareMenu{
	position: relative;
	top: 3%;/*adjust up & down*/
	/*adjust menu left & right*/
	width: 32px;
	height: 0;
	overflow:hidden;
}
#shareMenu a {
}
.addthis_toolbox .custom_images a {
    width: 32px;
    height: 32px;
    padding: 0;
}
.addthis_toolbox .custom_images a img {
    opacity: 1.0;
    width: 32px;
    height: 32px;
}
.addthis_toolbox .custom_images a:hover img {
    opacity: 0.75;
}
/*#back-button{
	position: absolute;
	width: 40%;
	border: 1px solid black;
	padding: 0;
}*/
/*#facebook, #twitter{
	width: 32px;
	height: 32px;
	float: left;
	border: 1px solid black;
}*/

/*#back-button img {float: left; margin: 2%; height: 32px; width: 32px;}
#back-button:active{
	-webkit-filter:invert(100%);
}*/
p {
	font-size: 1em;
}

span {
	font-size: 1em;

}
#stream {
	position: relative;
	height: 100%;
	overflow:hidden;
	overflow-y: hidden;
}
#paper0 {
	top: 2px;
	z-index: -2;
}
#paper1{
	top: 4px;
	z-index: -3;
}
#paper2{
	position: absolute;
	top: 6px;
	z-index: -5;

}
.article {
	position: absolute;
	width: 90%;
	height: 95%;
	margin-left:5%;
	margin-top: 5px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 0em .2em black;
	-moz-box-shadow: 0 0em .2em black;
	-ms-box-shadow: 0 0em .2em black;
	border: 1px solid black;
	overflow-y:auto;
	max-width: 705px;
}
/*@media all and..*/
.articleContent{
	position: relative;
	width: 100%;
	height: 150%;
}
#topArticle {
	z-index: 2;
}
#middelArticle {
	z-index: 1;
}
#bottomArticle {
	z-index: -1;
}

.arrows {
	display: none;
	position: absolute;
	top: 35%;
}
#fzlarrow {
	left: 5%;
	width: 10%;
	height: 10%;
	z-index: 2;
}
#szlarrow {
	left: 85%;
	width: 10%;
	height: 10%;
	z-index: 2;
}

.ui-loader {
	display: none;
}

#holder{
	position: absolute;
	width: 10px;
	height: 10px;
	overflow: hidden;
	left: 0;
	top: 0;
	border: 1px solid black;
	display: none;
}

@media (min-resolution: 1.5dppx), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) {
	.article{
		position: absolute;
		width: 95%;
		margin-top: 1em;
		position: absolute;
		height: 95%;
		background-color: #FFFFFF;
		-webkit-box-shadow: 0 0 .2em black;
		-moz-box-shadow: 0 0 .2em black;
		-ms-box-shadow: 0 0 .2em black;
		border: 1px solid black;
		overflow-y:auto;
		max-width: 2000px;
	}

	.addthis_toolbox .custom_images a {
	    width: 128px;
	    height: 128px;
	    margin-left: -10%;
	    padding: 0;
	}

	.addthis_toolbox .custom_images a img {
	    opacity: 1.0;
	    width: 128px;
	    height: 128px;
	}

	.colorbar {
		height: 5%;
		width: 100%;
		overflow: hidden;
		min-height: 40px;
		background: -webkit-linear-gradient(270deg, #FFE6FF 0%, #A2BCD8 100%);
	}

	#username {
		position: absolute;
		text-align: left;
		margin-top: .5em;
	}
	#username p {
		position: relative;
		color: black;
		font-style: Helvetica;
	}

	#username a {
		color: #AF2F4E;
	}

	#share {
		position: absolute;
		z-index: 5;
		color: black;
		font-style: Lucida;
		text-align: right;
		margin-top: .5em;
	}
	#share p {
		position: relative;
		margin-right: 5%;/*adjust share work l or r*/
		color: black;
	}
	#shareMenu{
		position: relative;
		/*top: -10px;adjust up & down*/
		margin-left: -5%;/*adjust menu left & right*/
		width: 128px;
		height: 0;
		overflow:hidden;
	}
	#shareMenu a {
	}
	span {
		font-size: 3em;
	}
	.articleText {
		font-size: 1em;
	}
}
