.ui-page {
	height: 100%;
}

html {
	padding: 0;
	margin: 0;
	border: none;
	font-family: Verdana, Helvetica, Arial;
	height: 100%;
}

body {
	margin: 0;
	overflow-y: hidden;
	background-color: #FEF5DF;
	height: 100%;
}

footer {
	position: relative;
	height: 15%;
	background-color: #282828;
	background-image: linear-gradient(0deg, #000000 0%, #454545 100%);
	overflow-x: auto;
	overflow-y: hidden;	
	border-top: 1px solid black;
}

#content{
	height: 80%;
	overflow-x: hidden;
	overflow-y: auto;
}

#header-container {
	overflow-y: hidden;
}

/*#logo {
	margin-left: 40%;
	height: 100%;
	width: 20%;
	-webkit-filter: invert(100%);

}*/

.colorbar {
	height: 5%;
	width: 100%;
	background-color: #FEF5DF;
	overflow: hidden;
}
#username {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: left;
}
#username p {
	position: relative;
	font-size: 10pt;
	margin-top: 2%;
	margin-left: 1%;
	top: 0;
	color: black;
}

a {
	color: black;
}
#share {
	position: absolute;
	width: 100%;
	z-index: 5;
	color: black;
	text-align: right;
}
#share p {
	position: relative;
	font-size: 10pt;
	margin-top: 2%;
	margin-right: 1%;
	top: 0;
	color: black;
}
#shareMenu{

	display: none;
	position: relative;
	width: 38px;
	height: 0;
	overflow:hidden;
	
}
#shareMenu a {
	opacity: 1.0;
	margin: 5%;
}
/*#back-button{
	position: absolute;
	width: 40%;
	border: 1px solid black;
	padding: 0;
}*/
/*#facebook, #twitter{
	width: 32px;
	height: 32px;
	float: left;
	border: 1px solid black;
}*/

/*#back-button img {float: left; margin: 2%; height: 32px; width: 32px;}
#back-button:active{
	-webkit-filter:invert(100%);
}*/

#stream {
	position: relative;
	height: 100%;
	overflow:hidden;
	overflow-y: hidden;
}
#paper0 {
	left: 5.5%;
	top: .5%;
	z-index: -2;
}
#paper1{
	left: 6%;
	top: 1%;
	z-index: -3;
}
.article {
	position: absolute;
	width: 90%;
	height: 88%;
	margin-top: 5%;
	left: 5%;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 0 .2em black;
	-moz-box-shadow: 0 0 .2em black;
	-ms-box-shadow: 0 0 .2em black;
	max-width: 705px;
	overflow-y:auto;
}

.articleContent{
	position: relative;
	width: 100%;
	height: 150%;
}
#topArticle {
	z-index: 2;
}
#middelArticle {
	z-index: 1;
}
#bottomArticle {
	z-index: -1;
}

.ui-loader {
	display: none;
}
