.ui-page {
	height: 100%;
	overflow-y:hidden;
}

html {
	padding: 0;
	margin: 0;
	border: none;
	font-family: Verdana, Helvetica, Arial;
	height: 100%;
	overflow-y: hidden;
}

body {
	margin: 0;
	overflow-y: hidden;
	background-color: #FEF5DF;
	height: 100%;
}

footer {
	position: relative;
	height: 18%;
	background-color: #282828;
	background-image: linear-gradient(0deg, #000000 0%, #454545 100%);
	overflow-x: auto;
	overflow-y: hidden;	
	border-top: 1px solid black;
}

#content{
	height: 80%;
	overflow-x: hidden;
	overflow-y: hidden;
}

#queue {
	overflow-y: hidden;
	height: 100%;
}

/*#logo {
	margin-left: 40%;
	height: 100%;
	width: 20%;
	-webkit-filter: invert(100%);

}*/

.colorbar {
	height: 2%;
	width: 100%;
	background-color: #FEF5DF;
	overflow: hidden;
	min-height: 20px;
}
#username {
	position: absolute;
	top: 0;
	margin-top: 0;
	text-align: left;
}
#username p {
	position: relative;
	font-size: 10pt;
	top: 0;
	margin-top: 0;
	color: #AF2F4E;
}

#username a {
	margin-top: 0;
	color: #AF2F4E;
}

#share {
	position: absolute;
	width: 100%;
	z-index: 5;
	color: #AF2F4E;
	text-align: right;
	margin-top: 0;

}
#share p {
	position: relative;
	font-size: 10pt;
	margin-top: 0;
	margin-right: 5%;/*adjust share work l or r*/
	top: 0;
	color: #AF2F4E;
}
#shareMenu{
	display: none;
	position: relative;
	top: -10px;/*adjust up & down*/
	margin-left: -5%;/*adjust menu left & right*/
	width: 38px;
	height: 0;
	overflow:hidden;
}
#shareMenu a {
	margin-bottom: 10%;
}
/*#back-button{
	position: absolute;
	width: 40%;
	border: 1px solid black;
	padding: 0;
}*/
/*#facebook, #twitter{
	width: 32px;
	height: 32px;
	float: left;
	border: 1px solid black;
}*/

/*#back-button img {float: left; margin: 2%; height: 32px; width: 32px;}
#back-button:active{
	-webkit-filter:invert(100%);
}*/

#stream {
	position: relative;
	height: 100%;
	overflow:hidden;
	overflow-y: hidden;
}
#paper0 {
	top: 2px;
	z-index: -2;
}
#paper1{
	top: 4px;
	z-index: -3;
}
#paper2{
	position: absolute;
	top: 6px;
	z-index: -5;
}
.article {
	position: absolute;
	width: 90%;
	height: 95%;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 0 .2em black;
	-moz-box-shadow: 0 0 .2em black;
	-ms-box-shadow: 0 0 .2em black;
	border: 1px solid black;
	max-width: 705px;
	overflow-y:auto;
}
/*@media all and..*/
.articleContent{
	position: relative;
	width: 100%;
	height: 150%;
}
#topArticle {
	z-index: 2;
}
#middelArticle {
	z-index: 1;
}
#bottomArticle {
	z-index: -1;
}

.ui-loader {
	display: none;
}

#holder{
	position: absolute;
	width: 10px;
	height: 10px;
	overflow: hidden;
	left: 0;
	top: 0;
	border: 1px solid black;
}
